# 忽略 Others 文件夹及其所有内容
Others/

# 忽略 MkDocs 生成的网站文件夹
site/

# 忽略所有 .DS_Store 文件 (macOS)
.DS_Store

# 忽略所有 .vscode 文件夹 (VS Code)
.vscode/

# 忽略所有 .log 文件
*.log

# 忽略所有 .tmp 文件
*.tmp

# 忽略 College 1 文件夹及其所有内容
College 1/

# 忽略College 2目录下的所有文件和文件夹
College\ 2/*
# 但不忽略此路径下的文件
!College\ 2/2.数据结构与算法分析（FDS）-Fundemental\ Data\ Structure/期末复习/自己笔记/
# 忽略此new.md
College\ 2/2.数据结构与算法分析（FDS）-Fundemental\ Data\ Structure/期末复习/自己笔记/new.md

# 忽略 College 3 文件夹下的所有内容
College\ 3/*

# 排除掉嵌入式系统
# 不忽略 '1.嵌入式系统' 目录
!College\ 3/1.嵌入式系统/
# 忽略 1.嵌入式系统/ 目录下除 '自己笔记/' 之外的其他内容
College\ 3/1.嵌入式系统/*
!College\ 3/1.嵌入式系统/自己笔记/

# 排除掉误差理论的目录
!College\ 3/1.误差理论和数据处理/
College\ 3/1.误差理论和数据处理/*
!College\ 3/1.误差理论和数据处理/期末复习/

# 排除掉高级程序设计
!College\ 3/1.高级程序设计/
College\ 3/1.高级程序设计/*
!College\ 3/1.高级程序设计/期末复习/

# 排除掉医学成像
!College\ 3/1.生物医学成像技术/
College\ 3/1.生物医学成像技术/*
!College\ 3/1.生物医学成像技术/期末复习/
College\ 3/1.生物医学成像技术/期末复习/*

!College\ 3/1.生物医学成像技术/期末复习/1.XRayCT
!College\ 3/1.生物医学成像技术/期末复习/✔PET_by_lzc.pdf
!College\ 3/1.生物医学成像技术/期末复习/PET.md
!College\ 3/1.生物医学成像技术/期末复习/超声习题.md
!College\ 3/1.生物医学成像技术/期末复习/✔US_by_lzc.pdf
!College\ 3/1.生物医学成像技术/期末复习/光学.md
!College\ 3/1.生物医学成像技术/期末复习/5. MRI
College\ 3/1.生物医学成像技术/期末复习/5. MRI/MRI-new.md

!College\ 3/1.生物医学成像技术/期末复习/微雕.pdf
!College\ 3/1.生物医学成像技术/期末复习/微雕.docx
!College\ 3/1.生物医学成像技术/期末复习/微雕-simplised.pdf
!College\ 3/1.生物医学成像技术/期末复习/微雕-simplised.docx
!College\ 3/1.生物医学成像技术/期末复习/Page_1.jpg
!College\ 3/1.生物医学成像技术/期末复习/Page_2.jpg
